@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* COMMON STYLES */

:root {
  --default-font-size: min(16px, 10vw);
  --default-width: clamp(20rem, 75vw, 50rem);
  --default-font: "Ubuntu", sans-serif;
  --bg-color: var(--color-white);
  --color-white: #ffffff;
  --color-gray: #222222;
  --color-blue: #76b9d8;
  --color-red: #c36278;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  color: var(--color-gray);
  font-weight: 400;
  background-color: var(--color-gray);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.show-on-focus {
  width: 0;
  height: 0;
  position: fixed;
  background: transparent;
  overflow: hidden;
  z-index: 99;
}
.show-on-focus i {
  color: var(--color-gray);
}

.show-on-focus:focus {
  width: fit-content;
  height: fit-content;
  line-height: 1rem;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 4rem;
}

/* SCROLL BUTTON */

#scrollbutton {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 700;
  font-size: 4rem;
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  outline: 0;
  background: var(--color-white);
  color: var(--color-gray);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
#scrollbutton:after {
  font: var(--fa-font-solid);
  content: "\f062";
}

#closeinfo {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  text-shadow: 0 0 0.2rem #0004;
}

/* LOGO STYLES */

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.logo#intro {
  width: 6rem;
  height: 12rem;
  background-image: url("../sources/logo_gray.png");
  background-position: center;
}

.logo#contact {
  width: 8rem;
  height: 10rem;
  margin-top: 5rem;
  background-image: url("../sources/logo.png");
  background-position: center;
}

/************/
/* SECTIONS */
/************/

.section {
  background-color: var(--bg-color);
  width: 100%;
}
.section:after {
  content: "";
  height: 5vw;
  display: block;
  transform: translateY(1px);
}

.section h1 {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
  font-weight: 700;
}

section {
  width: var(--default-width);
  height: fit-content;
  margin: auto;
}

ul.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

ul.list li {
  display: flex;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #fff4;
  border-radius: 0.5rem;
  color: var(--color-gray);
  line-height: 3rem;
  box-shadow: 0 0 0.5rem 0.2rem #0004;
}

ul.list li > img {
  width: 6rem;
}

ul.list li > h2 {
  font-weight: 700;
  font-size: 1.2rem;
}

/* INTRO SECTION */

.routinglinks {
  width: calc(var(--default-width) / 1.5);
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  margin-bottom: 2rem;
}

a.route {
  display: block;
  padding: 0.5rem;
  color: var(--color-gray);
  background: #bbbbbb;
  background: linear-gradient(315deg, #bbb 0%, #dddddd 100%);
  width: calc(var(--default-width) / 6);
  text-align: center;
  font-weight: 700;
  border-radius: 999rem;
  box-shadow: 0 0 0.3rem 0.1rem #0004;
  line-height: 2rem;
}

.intro {
  --bg-color: var(--color-white);
}
.intro:after {
  background-color: var(--color-blue);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}

img#gif {
  height: 20rem;
}

section#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 5rem;
}

section#intro h2,
section#intro h3 {
  line-height: 2rem;
  font-weight: 400;
}

/* CREW SECTION */

.crews {
  --bg-color: var(--color-blue);
}
.crews:after {
  background-color: var(--color-red);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}
ul.crews > li {
  height: 10rem;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
  background: linear-gradient(135deg, #ffffff 0%, #a7cfe3 100%);
  box-shadow: 0 0 0.5rem 0.2rem #0004;
}

.crewinfo {
  display: none;
  width: calc(100% - 4rem);
  background: var(--color-gray);
  background: linear-gradient(315deg, #222222 0%, #22414f 100%);
  color: #eee;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0 0 0.5rem 0.2rem #0004;
  border-radius: 0.5rem;
}
.crewinfo img {
  grid-area: 1 / 1 / 2 / 2;
  width: auto;
  height: 5rem;
}
.crewinfo h1 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: left;
}
.crewinfo p {
  grid-area: 2 / 1 / 3 / 3;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}
.crewinfoheader {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 5rem calc(100% - 6rem);
  grid-template-rows: 5rem fit-content;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.crewinfoheader i {
  color: #fff;
}

/* PROJECT SECTION */

.projects {
  --bg-color: var(--color-red);
  align-items: center;
  flex-direction: row;
}
.projects:after {
  background-color: var(--color-gray);
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.projects a {
  width: 100%;
  display: block;
  color: var(--color-gray);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.2rem #0004;
  background: #fff;
  background: linear-gradient(135deg, #fffc 0%, #ec90a5 100%);
}
#projectelement {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
}
#projectelement img {
  width: 10rem;
  height: 10rem;
}
#projectelement h2 {
  font-weight: 500;
  line-height: 3rem;
  font-size: 2rem;
  padding: 1rem;
}

section#projects {
  margin-bottom: 2rem;
}

/* CONTACT SECTION */

.contact {
  background-color: transparent;
  color: var(--color-white);
}

section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 5rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 2rem;
  font-size: 1.2rem;
}
.social li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(34, 34, 34);
  background: linear-gradient(135deg, #222222 0%, #000000 100%);
  border-radius: 999rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 0.5rem 0.2rem #0004;
}
.social a {
  color: var(--color-white);
  width: min(25%, 10rem);
}
.social i {
  color: var(--color-white);
  padding: 0 0.5rem 0 0;
}

/* MEDIA QUERY */

@media screen and (max-width: 800px) {
  #closeinfo {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

  .routinglinks {
    width: var(--default-width);
    flex-direction: column;
    height: fit-content;
  }

  a.route {
    width: calc(100% - 1rem);
    margin: 0.5rem 0;
  }

  ul.list li {
    width: calc(100% - 2rem);
  }

  .crewinfogrid {
    flex-direction: column;
  }
  .crewinfogrid li {
    width: 100%;
  }
  ul.crews > li {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem;
    grid-column-gap: 0.5rem;
    cursor: pointer;
    height: auto;
    width: 100%;
  }
  ul.crews > li img {
    grid-area: 1 / 1 / 2 / 2;
    width: auto;
    height: 3rem;
  }
  ul.crews > li h2 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0;
  }
  .crewinfoheader h1 {
    font-size: 1.2rem;
  }
  #projectelement {
    display: grid;
    grid-template-columns: 5rem calc(100% - 5.5rem);
    grid-template-rows: 5rem 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  #projectelement img {
    grid-area: 1 / 1 / 2 / 2;
    width: 5rem;
    height: 5rem;
  }
  #projectelement h2 {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 500;
    line-height: 3rem;
    font-size: 1.5rem;
  }
  #projectelement p {
    grid-area: 2 / 1 / 3 / 3;
    line-height: 2rem;
    font-size: 1rem;
    text-align: justify;
    padding: 0 0.5rem;
  }

  section#contact {
    height: fit-content;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }
  .social a {
    width: min(50%, 20rem);
    margin-bottom: 1.5rem;
  }
  .social li {
    justify-content: space-around;
    height: 2.5rem;
  }
}
